@model DTO.Order_Dishes

@{
    ViewData["Title"] = "Archive";
}

    <div class="container">
        <h2>Archive</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Archive">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="idOrder_Dishes" class="control-label"></label>
                        <input asp-for="idOrder_Dishes" class="form-control" />
                        <span asp-validation-for="idOrder_Dishes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <input asp-for="status" class="form-control" />
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="order_id" class="control-label"></label>
                        <input asp-for="order_id" class="form-control" />
                        <span asp-validation-for="order_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="login_id" class="control-label"></label>
                        <input asp-for="login_id" class="form-control" />
                        <span asp-validation-for="login_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
