@model IEnumerable<DTO.Order_Dishes>

@{
    ViewData["Title"] = "ListOrders";
}

<h2>Orders of the customers</h2>



@foreach (var item in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-5">

                <div class="card table-bordered tabl" style="width:500px">
                    <h4 class="card-title">Order</h4>
                    <p class="card-text">Details of the order:</p>                       
                    <p>@Html.DisplayFor(modelItem => item.quantity)</p>

                    <p>@Html.DisplayFor(modelItem => item.orders_id)</p>
                   
                    <p>@Html.DisplayFor(modelItem => item.customers_id)</p>
                
                    <p>@Html.DisplayFor(modelItem => item.dishes_id)</p>
                    <a asp-area="" asp-controller="Order_dishes" asp-action="" class="btn btn-warning">Waiting</a>
                    <a asp-area="" asp-controller="Order_dishes" asp-action="" class="btn btn-success">Arrived</a>
                </div>
            </div>
        </div>
    </div>
}







